<!-- This is the template file-->

<!doctype html>
<html>
<head>
  <title>Title Here</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/home.css') }}" />
</head>
<body>
  <h1>
    {{ arrItem }}
  </h1>
  <h2>With popularity</h2>
  <h1>
    {{ arrNum}}
  </h1>
  <h3>Form</h3>
  <!-- see web.py for form action - method post-->
  <form action="/text" method="post">
    Input text:<br>
    <input type="text" name="text_input" value="">
    <br>
    <input type="submit" value="Submit">
  </form>
  <form action="/reset" method="post">
    <input type="submit" value ="Reset">
  </form>

  <div id='foo'>
    <br>
    <!-- how to call variables in flask, injecting python variables -->
    {% for comment in comments %}
    <div class="row">
    <h1>
      {{ comment }} 
    </h1>
    </div>
    {% endfor %}
  </div>
</body>
</html>