<!doctype html>
<html>
<head>
  <title>Some title</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
  <h2>Form</h2>
  <form action="/text" method="post">
    Input text:<br>
    <input type="text" name="text_input" value="">
    <br>
    <input type="submit" value="Submit">
  </form>
  <form action="/reset" method="post">
    <input type="submit" value ="Reset">
  </form>


  <div id='foo'>
    <br>
    {% for comment in comments %}
    <div class="row">
    <h1>
      {{ comment }} 
    </h1>
    </div>
    {% endfor %}
  </div>
</body>
</html>